.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
}

.grid-3-b {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
}

.grid-4 button,
.grid-3 button,
.grid-3-b button {
  padding: 20px;
  border: 2px solid red;
}

.grid-4 button:hover,
.grid-3 button:hover,
.grid-3-b button:hover {
  opacity: 75%;
}

.result {
  display: grid;
  grid-template-columns: 1fr;
  background-color: black;
  color: white;
  padding: 50px;
  font-size: 2rem;
}